<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Servlet4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>hi</servlet-name>
  	<servlet-class>web.HiServlet</servlet-class>
  	<load-on-startup>2</load-on-startup>
  	<!-- 启动时加载此Servlet,中间的数字是加载的顺序 -->
  </servlet>
  <servlet-mapping>
  	<servlet-name>hi</servlet-name>
  	<url-pattern>/hi</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>login</servlet-name>
  	<servlet-class>web.LoginServlet</servlet-class>
  	<!-- 给此Servlet预置参数 -->
  	<init-param>
  		<param-name>maxOnline</param-name>
  		<param-value>3000</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>findDept</servlet-name>
  	<servlet-class>web.FindDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>findDept</servlet-name>
  	<url-pattern>/findDept</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>findEmp</servlet-name>
  	<servlet-class>web.FindEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>findEmp</servlet-name>
  	<url-pattern>/findEmp</url-pattern>
  </servlet-mapping>
  
  <!-- 在标签外配置的参数是给所有Servlet公用的参数，
                  	他们都可以通过context读取改参数 -->
  <context-param>
  	<param-name>size</param-name>
  	<param-value>20</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>init</servlet-name>
  	<servlet-class>web.InitServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping><!-- 这个配置路径可以不写，因为没有写service方法
  						也不会敲路径去访问这个servlet,这里没有省略，其实不用写 -->
  	<servlet-name>init</servlet-name>
  	<url-pattern>/init</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>up</servlet-name>
  	<servlet-class>web.UpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>up</servlet-name>
  	<url-pattern>/up</url-pattern>
  </servlet-mapping>
</web-app>